<div class="col-sm-6">
  <!-- Form fields -->
  <app-dyn-form [form]="form" [formItems]="formItems"></app-dyn-form>

  <hr>

  <!-- New field input -->
  <input #newFieldInput type="text" class="form-control mb-2" placeholder="Press 'Enter' to add a new field"
         (keydown)="onNewFieldInputKeyDown($event)"
         [ngClass]="{ 'is-invalid': invalidNewField }"
  >
  <span *ngIf="invalidNewField" class="invalid-feedback">Field is empty or field already exists!</span>
</div>

<!-- Clipboard (Need to pass in 'h-100' so child will behave properly) -->
<div class="col-sm-6 h-100">
  <app-clipboard [form]="form"></app-clipboard>
</div>
