app-wrapper {
  height: 100vh;
  overflow: auto;  /* Allow parent container to take on the size of the child */

  /* Flex Properties */
  display: flex;
  align-items: flex-start;
}


@media (max-width: 575px) {
  app-wrapper {
    flex-direction: column;  /* On smaller screens, everything will be displayed as a column */
  }
}
